@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(0, 7, 87);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Francois One', sans-serif;
}

h2{
    margin: 0;
    margin-left: 20px;
}

.links{
    display: flex;
    margin-right: 20px;
    
}

.links a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

#video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

.content{
    color: rgb(255, 255, 255);
    margin-top: 20vh;
    margin-left: 10vh;
    letter-spacing: 3px;
    width: 70vw;
    font-family: 'Francois One', sans-serif;
    
}

footer{
    text-align: center;
    bottom: 0vw;
}

.icon{
    background: url(media/sprite3.png);
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
    margin: 10px;
    position: relative;
    border-radius: 200px;
}

footer{
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0vh;
}

img{
    width: 20vw;
    margin-left: 75vw;
    margin-top: -30vh;
    animation-name: revolve;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@keyframes revolve{
    0% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#twt{background-position: -66px -72px;}
#fb{background-position: -439px -146px;}
#yt{background-position: -439px -221px;}
#skype{background-position: -365px -147px;}

@media screen and (max-width: 560px){
header{
    overflow-x: hidden;
}

nav{ 
    background-color: rgb(0, 7, 87);
    width: 100%;
    font-family: 'Francois One', sans-serif;
}

nav h2{
    margin-left: 32vw;
}

.links{
    display: none;
    position: absolute;
    margin-top: 33vh;
    background-color: rgba(29, 90, 139, 0.148);
    width: 100%;
    transition: .5s;
    border: 5px white;
    margin-left: -2vh;
}
.links a{
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: block;
    transition: .5s;
    margin-left: 0;
    padding-left: 20px;
}
    
.links a:hover{
    background-color: #3768fabe; 
    transition: .7s;
    overflow-x: hidden;
}

h2:hover{
    color:rgb(0, 0, 0);
    transition: .2s;
    overflow-x: hidden;
}
    
nav:hover .links{
    display: block; 
    transition: .5s;
    overflow-x: hidden;
}

.content{
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-left: 10vh;
    letter-spacing: 3px;
    width: 70vw;
    height: 75vh;
    overflow-x: hidden;
    font-family: 'Francois One', sans-serif;
}

.content::-webkit-scrollbar {
    display: none;
}

img{
    opacity: 0%;
}    
}